.role-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  /*appearance: none;*/
}

.w    { background-image: url("../assets/w.png"); }
.d    { background-image: url("../assets/d.png"); }
.a    { background-image: url("../assets/a.png"); }
.p    { background-image: url("../assets/p.png"); }
.r    { background-image: url("../assets/r.png"); }
.e    { background-image: url("../assets/e.png"); }
.n    { background-image: url("../assets/n.png"); }
.me   { background-image: url("../assets/me.png"); }
.prot { background-image: url("../assets/prot.png"); }
.heal { background-image: url("../assets/heal.png"); }
.rt   { background-image: url("../assets/rt.png"); }

.role-selector input:active + .role {
  opacity: .9;
}

.role-selector input:checked + .role {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.role {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  /*-webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;*/
  -webkit-filter: brightness(0.5) grayscale(1);
  -moz-filter:    brightness(0.5) grayscale(1);
  filter:         brightness(0.5) grayscale(1);
}

.role:hover {
  -webkit-filter: brightness(1.50) grayscale(0.5);
  -moz-filter:    brightness(1.50) grayscale(0.5);
  filter:         brightness(1.50) grayscale(0.5);
}
